<div class="sidebar">
	<ul>
		<div class="logo">
			<%= image_tag "logo.svg" %>
		</div>
		<li>Home</li>
		<li class="active">About Us</li>
		<ul class="submenu">
			<li class="active">Mission</li>
			<li>Members</li>
			<li>Companies</li>
			<li>Alumni</li>
			<li>Special Thanks</li>
		</ul>
		<li>Join Us</li>
		<li>Gallery</li>
		<li>Event Calendar</li>
		<li>Contact Us</li>
		<div class="social">
		</div>
	</ul>
</div>