<div class="sidebar">
	<ul>
		<div class="logo">
			<%= image_tag "logo.svg" %>
		</div>
		<li><a href="/">Home</a></li>
		<li class="active"><a href="/about">About Us</a></li>
		<ul class="submenu">
			<li class="active"><a href="">Mission</a></li>
			<li><a href="">Members</a></li>
			<li><a href="">Companies</a></li>
			<li><a href="">Alumni</a></li>
			<li><a href="">Special Thanks</a></li>
		</ul>
		<li><a href="">Join Us</a></li>
		<li><a href="">Event Calendar</a></li>
		<div class="social">
		</div>
	</ul>
</div>