<%= render "sidebar" %>

<div class="content">
	<%= render "header_image" %>
	<div class="content-mission">
		<div class="mission-hero">
			The Cube is a Duke's student-run, enterpreneurial residential community who yearn to make a difference, are driven to execute upon and deliver great ideas and dedicate themselves to learning and growing.	
		</div>
		<div class="mission-title">
			<h1>What do we expect from our members?</h1>
			<ol>
				<li>
					Produce a product or service that is iterable and can be brought to the general market, whether via non-profit or for-profit venture. The Cube is also dedicated to promoting entrepreneurship of any form within the community and on Duke’s campus, including social ventures.
				</li>
				<li>
					Timeline for development:
					<ol>
						<li>
							Within the first year following a member’s induction, they are expected to work to produce a product or venture.
						</li>
						<li>
							Within a member’s time in The Cube, they are expected to launch at least 1 product or venture
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</div>
	<div class="content-members">

	</div>
	<div class="content-companies">

	</div>
	<div class="content-alumni">

	</div>
	<div class="content-special-thanks">

	</div>


</div>