<h1>Event Calendar</h1>

TODO: Make this page. Find it in app/views/main/calendar.html.erb
<br/>
<br/>
If you do this, <a href="https://github.com/cranberryofdoom/The-Cube/issues/9">close the issue</a>