<%= render "header_image" %>
<div class="content-calendar">
	<div class="calendar-mission">
		<div class="mission-hero">
			The Cube believes giving back to the Duke community. This is why we hold events like Dinner Days with Duke Entrepreneurs and Demo Day, in hopes to expose our peers to entrepreneurship, encourage them to think like entrepreneurs and motivate them to be entrepreneurs.
		</div>
		<div class="mission-inquiry">
			<h1>Are you a Duke alumni or current entreprenur?</h1>
			If the sound of meeting and getting to know student entrepreneurs over dinner seems interesting to you, shoot us an email! We would love to arrange your visit to Duke University and have dinner with you!
		</div>
	</div>
	<div class="calendar">
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=dukeincube%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
<div class="content-sidebar">
	<div class="sidebar-widget">
		<div class="widget-title">
			Rush Events Mailing List
		</div>
		<div class="widget-body">
			<%= render "rush_mailchimp" %>
		</div>
	</div>
	<div class="sidebar-widget">
		<div class="widget-title">
			General Events Mailing List
		</div>
		<div class="widget-body">
			<%= render "updates_mailchimp" %>
		</div>
	</div>
</div>