<%= render "header_image" %>

<div class="content-posts">
	<div class="content-post">
		<div class="pinned">Pinned Post</div>
		<div class="post-title">
			<img src="https://secure.gravatar.com/avatar/1384686ecd2b5e4ea72972f843cd0811?size=800">
			<h1>The Cube's Rush 2014 Events Calendar Is Out!</h1>
		</div>
		<div class="post-author-time">
			Ashley Qian | December 24, 2013
		</div>
		<div class="post-body">
			Get ready for 3 weeks of shenannigans, innovation and creativity! We have some pretty awesome events lined up for all you prospective Cubesters!
			<%= image_tag "calendar.jpg" %>
		</div>
	</div>
	<div class="content-post">
		<div class="post-title">
			<img src="https://secure.gravatar.com/avatar/1384686ecd2b5e4ea72972f843cd0811?size=800">
			<h1>The Cube’s Rush Process: Demystified</h1>
		</div>
		<div class="post-author-time">
			Ashley Qian | December 26, 2013
		</div>
		<div class="post-body">
			Ever wonder what the rush process is like?
		</div>
	</div>
</div>
<div class="content-sidebar">
	<div class="sidebar-widget">
		<div class="widget-title">
			Upcoming Events
		</div>
		<div class="widget-body">
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=dukeincube%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="300" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>