<%= render "header_image" %>
<div class="content-posts">
	<% Post.all.limit(10).each do |p| %>
	<%= render p %>
	<% end %>
</div>
<div class="content-sidebar">
	<div class="sidebar-widget">
		<div class="widget-title">
			Upcoming Events
		</div>
		<div class="widget-body">
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=dukeincube%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="300" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
	<div class="sidebar-widget">
		<div class="widget-title">
			Get Rush Updates!
		</div>
		<div class="widget-body">
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=dukeincube%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="300" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>
