<div class="sidebar">
	<ul>
		<div class="logo">
			<%= image_tag "logo.svg" %>
		</div>
		<li class="active">Home</li>
		<li>About Us</li>
		<li>Join Us</li>
		<li>Gallery</li>
		<li>Event Calendar</li>
		<li>Contact Us</li>
	</ul>
</div>
<div class="content">
	<div class="header-image">
		<%= image_tag "header-image-1.png" %>
	</div>
	<div class="content-posts">
		<div class="content-post">
			<div class="pinned">Pinned Post</div>
			<div class="post-title">
				<img src="https://secure.gravatar.com/avatar/1384686ecd2b5e4ea72972f843cd0811?size=800">
				The Cube's Rush 2014 Events Calendar Is Out!
			</div>
			<div class="post-author-time">
				Ashley Qian | December 24, 2013
			</div>
			<div class="post-body">
				Get ready for 3 weeks of shenannigans, innovation and creativity! We have some pretty awesome events lined up for all you prospective Cubesters!
				<%= image_tag "calendar.jpg" %>
			</div>
		</div>
		<div class="content-post">
			<div class="post-title">
				<img src="https://secure.gravatar.com/avatar/1384686ecd2b5e4ea72972f843cd0811?size=800">
				The Cube’s Rush Process: Demystified
			</div>
			<div class="post-author-time">
				Ashley Qian | December 26, 2013
			</div>
			<div class="post-body">
				Ever wonder what the rush process is like?
			</div>
		</div>
	</div>
	<div class="content-sidebar">
		<div class="sidebar-widget">
			<div class="widget-title">
				Upcoming Events
			</div>
			<div class="widget-body">
				<div class="body-event">
					<div class="event-title">
						Rush The Cube Open House #1
					</div>
					<div class="event-time-date">
						January 8, 2013 | 7PM - 9PM
					</div>
					<div class="event-location">
						205 Alexander Avenue Room D
					</div>
					<button>RSVP Here</button>
				</div>
				<div class="body-event">
					<div class="event-title">
						Rush The Cube Open House #2
					</div>
					<div class="event-time-date">
						January 8, 2013 | 7PM - 9PM
					</div>
					<div class="event-location">
						205 Alexander Avenue Room D
					</div>
					<button>RSVP Here</button>
				</div>
				<div class="body-text">
					Want to see what else we
					have planned? Take a look at
					our event calendar!
				</div>
				<button>Events Calendar</button>
			</div>
		</div>
		<div class="sidebar-widget">
			<div class="widget-title">
				Get Rush Updates
			</div>
			<div class="widget-body">
				<div class="body-form">
					<div class="form-group">
						<div class="form-title">
							First Name
						</div>
						<input type="text">
					</div>
					<div class="form-group">
						<div class="form-title">
							Last Name
						</div>
						<input type="text">
					</div>
					<div class="form-group">
						<div class="form-title">
							Email
						</div>
						<input type="text">
					</div>
				</div>
				<button>Submit</button>
			</div>
		</div>
	</div>
</div>
