<%= render "header_image" %>
<div class="content-join">
	<div class="join-mission">
		<div class="mission-hero">
			The Cube looks for students who are self-driven, hard-working and not to mention, fun to hang out with. Community and friendship is the core of The Cube experience. We are all about supporting each other, whether it be honing business pitches, late night product design and development or sorting through piles of market research.
		</div>
		<div class="mission-process">
		<h1>The Cube's Spring Rush Process</h1>
		<p>Every spring, The Cube joins the SLG rush process to find new members to join our community. Our rush process works like this: </p>
		<ol>
			<li>
				Three weeks of planned events and activities
			</li>
			<li>One Application</li>
			<li>One Interview</li>
			<li>A few awesome additions to The Cube!</li>
		</ol>
		<p>There are two types of events:</p>
		<ol>
			<li>
				<strong>Open Events</strong>
				<p>These are events in the beginning week and a half of rush, like the two open houses, Nerf Gun War and movie night. By making sure that you sign in, attend and talk to us during these events, you become more likely to be invited to the more selective events.</p>
			</li>
			<li>
				<strong>Invitation-Only Events</strong>
				<p>
					These are events that are more selective, mostly due to the nature and expense of the event. Some examples are: Dinner With Duke Alumni Entrepreneurs, Tea at the WaDuke and The Money Challenge.
				</p>
			</li>
		</ol>
	</div>
	</div>
</div>
<div class="content-sidebar">
	<div class="sidebar-widget">
		<div class="widget-title">
			Get Rush Info and Updates!
		</div>
		<div class="widget-body">
			<%= render "rush_mailchimp" %>
		</div>
	</div>
</div>