.content-companies {
	padding: 20px;
	border-bottom: 1px solid $grey;
	.content-company {
		padding: 20px;
		.company-logo {
			margin-right: 20px;
			img {
				height: 180px;
				width: 180px;
			}
		}
		.company-profile {
			font-weight: 100;
			font-size: 14px;
			padding: 20px 20px 0 20px;
			.company-name {
				margin-bottom: 10px;
				p {
					text-transform: uppercase;
					font-size: 12px;
				}
				h1 {
					a {
						color: $dark-grey;
						&:hover {
							text-decoration: none;
							color: $light-blue;
						}
					}
				}
			}
			.company-members {
				font-style: italic;
				margin-bottom: 10px;
				a {
					color: $dark-grey;
					&:hover {
						text-decoration: none;
						color: $light-blue;
					}
				}
			}
			.company-description {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.company {
	text-align: center;
	font-weight: 100;
	.company-header {
		padding: 40px;
		background-color: $light-grey;
		border-bottom: 1px solid $grey;
		position: relative;
		.company-name {
			margin-top: 10px;
		}
		.company-image {
			img {
				height: 150px;
				width: 150px;
			}
		}
		.company-info {
			a {
				font-style: none;
				color: $dark-grey;
				&:hover {
					text-decoration: none;
					color: $light-blue;
				}
			}
		}
		.company-blurb {
			margin-top: 10px;
		}
	}
}

.company-header:before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid $grey;
	bottom: -22px;
	left: 50%;
	margin-left: -21px;
}

.company-header:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $light-grey;
}
.company-posts {
	text-align: left;
	.content-post {
		padding: 40px;
		border-bottom: 1px solid $grey;
		.pinned {
			display: none;
		}
		.post-title {
			img {
				display: none !important;
			}
			h1 {
				font-size: 20px;
				font-weight: 700;
			}
		}
		.post-author-time {
			font-style: italic;
			margin-bottom: 10px;
		}
		.post-tags {
			display: none;
		}
	}
}

@media all and (max-width: 480px) and (min-width: 320px) {
	.content-company {
		.thumbnail {
			.pull-left {
				width: 100%;
			}
		}
	}
	.company-logo {
		clear: left;
		margin: 0 !important;
	}
	.company-profile {
		clear: left;
	}
}
