// Put css that applies to the whole site here

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: $dark-grey;
	position: relative;
}

h1 {
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	color: $dark-grey;
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 10px;
}

ol {
	li {
		font-size: 14px;
		font-weight: 100;
	}
}

.sidebar {
	height: 100%;
	width: 240px;
	position: fixed;
	border-right: 1px solid $grey;
	ul {
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		.logo {
			border-bottom: 1px solid $grey;
			padding: 10px 0;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		li {
			padding: 20px 40px;
			margin: 0 auto;
			border-bottom: 1px solid $grey;
			a {
				text-decoration: none;
				color: $dark-grey;
				font-size: 16px;
				font-weight: 800;
				text-transform: uppercase;
				&:hover {
					color: lighten($dark-grey, 20%);
				}
			}
		}
		.active, .active > a {
			background-color: $dark-blue;
			a {
				color: white;
				text-decoration: none;
				-webkit-font-smoothing: antialiased;
				color: white;
			}
			&:hover {
				color: white;
			}
		}
	}
}

.submenu {
	li {
		padding: 5px 40px !important;
		background-color: $light-grey !important;
		border-bottom: 1px solid $grey;
		a {
			color: #999999 !important;
			font-weight: 700 !important;
			font-style: italic;
			font-size: 12px !important;
		}
	}
	.active, .active > a {
		position: relative;
		background-color: $grey !important;
		a {
			font-weight: 800 !important;
			color: $dark-grey !important;
		}
	}
	.active:before {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid $grey;
		right: -10px;
	}
}

.content {
	margin-left: 240px;
	.header-image {
		height: 221px;
		border-bottom: 1px solid $grey;
		overflow: hidden;
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
}

.content-sidebar {
	overflow: hidden;
	.sidebar-widget {
		border-bottom: 1px solid $grey;
		.widget-title {
			background-color: $dark-grey;
			color: white;
			font-size: 16px;
			font-weight: 800;
			text-transform: uppercase;
			padding: 20px;
			border-bottom: 1px solid $grey;
		}
		.widget-body {
			padding: 20px;
		}
		.asterisk {
			font-size: 14px;
			color: $light-blue;
			top: 0;
		}
		.indicates-required {
			font-weight: 100;
			font-style: italic;
		}
		.button {
			background-color: $light-blue !important;
			border: none !important;
			color: white;
			font-weight: 700;
			font-size: 14px;
			padding: 10px;
			margin-top: 10px;
			border-radius: 0;
			text-shadow: none;
			background-image: none;
			font-family: 'Open Sans', sans-serif;
			margin: 10px 0;
			&:hover {
				background-color: lighten($light-blue, 10%) !important;
			}
		}
	}
}

.social {
	text-align: center;
	font-weight: 100;
	padding: 40px;
	bottom: 0;
	text-transform: uppercase;
	font-size: 12px;
	.address {
		margin-top: 20px;
	}
	button {
		background-color: $dark-grey;
		border: none;
		width: 40px;
		height: 40px;
		&:hover {
			background-color: lighten($dark-grey, 20%);
		}
	}
	.facebook {
		float: left;
	}
	.email {
		float: right;
	}
	.home {
		position: relative;
		&:hover {
			background-color: $dark-grey;
			cursor: default;
		}
	}
	.home:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		bottom: -7px;
		left: 50%;
		margin-left: -7px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid $dark-grey;
	}
	img {
		width: 20px;
		height: 20px;
	}
}

@media all and (max-width: 768px) and (min-width: 320px) {
	.sidebar {
		display: none;
	}
	.content-sidebar {
		display: none;
		width: 0;
	}
	.content {
		.header-image {
			display: relative;
			button {
				position: absolute;
				z-index: 10;
				opacity: 0.75;
				margin-left: 5px;
				.icon-bar {
					background-color: white; 
				}
			}
			button:hover {
				opacity: 1;
			}
			img {
				margin-left: -33%;
			}
		}
	}
}


@media all and (max-width: 992px) and (min-width: 768px) {
	.content-sidebar {
		display: none;
		width: 0;
	}
}