.content-members {
	padding: 20px;
	border-bottom: 1px solid $grey;
	.content-member {
		padding: 20px;
		.member-photo {
			position: relative;
			.alumni {
				position: absolute;
				top: 0;
				left: 0;
				color: $dark-grey;
				background-color: $grey;
				padding: 5px;
				font-size: 10px;
				text-transform: uppercase;
			}
			img {
				height: 100%;
				width: 100%;
			}
		}
		.member-profile {
			font-weight: 100;
			font-size: 14px;
			padding: 20px;
			margin-top: -5px;
			.profile-name {
				h1 {
					a {
						color: $dark-grey;
						&:hover {
							text-decoration: none;
							color: $light-blue;
						}
					}
				}
			}
			.profile-info {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: $dark-grey;
					&:hover {
						text-decoration: none;
						color: $light-blue;
					}
				}
			}
		}
	}
}